$fonts-root-path:"/fonts";
/*Fonts*/
$english-font-base: $fonts-root-path + "/SourceSansPro-Regular";
$english-font-medium-italic: $fonts-root-path + "/SourceSansPro-Italic";
$english-font-ExtraLightItalic: $fonts-root-path + "/SourceSansPro-ExtraLightItalic";
$english-font-medium: $fonts-root-path + "/SourceSansPro-SemiBold";
$english-font-bold: $fonts-root-path + "/SourceSansPro-Bold";
$english-font-light: $fonts-root-path + "/SourceSansPro-Light";
