/* _-_-_- layout/HEADER -_-_-_ */
.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 96%;
    z-index: 999;
    padding: 2rem 0rem 0rem 1rem;
    &__title{
        font-family: $font-family-ExtraLightItalic;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        position: relative;
        z-index: 1000;
        margin: 0;
        color:$white;
    }
    &__socialMedia{
        display: flex;
        &__icon{
            margin-right: 3.2rem;
        }
    }
}
